# use nvim
[[ -n "$(command -v nvim)" ]] && alias vim='nvim'
[[ -n "$(command -v nvim)" ]] && export EDITOR='nvim'
[[ -n "$(command -v nvim)" ]] && export GIT_EDITOR='nvim'

# fzf
[[ -n "$(command -v fzf)" ]] && alias vi-fzf='vi $(fzf --height 40%)'

alias myip='curl ipinfo.io'

alias rmf='rm -rf'
alias df='df -h'
alias du='du -h -c'
alias gs='git status'

# tmux
alias ta='tmux attach'
alias tls='tmux ls'
alias tat='tmux attach -t'
alias tns='tmux new-sesion s'

# terraform
alias tf='terraform'

# kubectl
alias k=kubectl
alias k-get-all-images="kubectl get pods --all-namespaces -o=jsonpath='{range .items[*]}{\"\n\"}{.metadata.name}{\":\t\"}{range .spec.containers[*]}{.image}{\", \"}{end}{end}' | sort"

# aws-okta
alias ao='aws-okta'
alias aos='aws-okta switch'

# reload zsh
alias reload!='RELOAD=1 source ~/.zshrc'

complete -F __start_kubectl k

source <(kubectl completion zsh)

export PATH="$HOME/bin:$PATH"
export GOENV_ROOT="$HOME/.goenv"
export PATH="$GOENV_ROOT/bin:$PATH"
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
export PATH="$GOROOT/bin:$PATH"
export PATH="$PATH:$GOPATH/bin"
export PATH="$HOME/.rbenv/bin:$PATH"
export PATH="$HOME/.aws_okta:$PATH"

if command -v pyenv 1>/dev/null 2>&1; then
   eval "$(pyenv init -)"
fi

if command -v goenv 1>/dev/null 2>&1; then
   eval "$(goenv init -)"
fi

if command -v rbenv 1>/dev/null 2>&1; then
   eval "$(rbenv init -)"
fi

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
